@cnv-platform:registry=https://europe-west3-npm.pkg.dev/conversation-opensource/cnv-platform/
//europe-west3-npm.pkg.dev/conversation-opensource/cnv-platform/:_password=""
//europe-west3-npm.pkg.dev/conversation-opensource/cnv-platform/:username=oauth2accesstoken
//europe-west3-npm.pkg.dev/conversation-opensource/cnv-platform/:email=not.valid@email.com
//europe-west3-npm.pkg.dev/conversation-opensource/cnv-platform/:always-auth=true