$app-global-border-radius : 6px;
$app-global-margin : 24px;


$app-primary-color-light : #EDE7F6;
$app-primary-color-medium : #B39DDB;
$app-primary-color-main : #673AB7;
$app-primary-color-dark : #5E35B1;

$app-text-color-light : #9E9E9E;
$app-text-color-medium : #757575;
$app-text-color-main : #616161;
$app-text-color-dark : #212121;