@import "./node_modules/source-sans-pro/source-sans-pro.css";

body {
  font-family: "Source Sans Pro";
  color: #3e3e3e;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  min-height: 100%;
  height: 100vh;
  margin: 0;
}

#showcase {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
}

footer {
  bottom: 0;
  position: absolute;
  height: 300px;
  width: 100%;
  background: #036caf;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
  ul li {
    list-style-type: none;
  }
}

@media screen and (max-width: 480px) {
  .App {
    width: 100vw;
    height: 100vh;
  }
}