<mat-button-toggle-group (change)="handleTimeRangeChange($event)" [value]="selectedTime">
  <mat-button-toggle
    *ngFor="let range of timeRange"
    [value]="range.value"
    aria-label="range.name"
  >
    {{ range.name }}
  </mat-button-toggle>
</mat-button-toggle-group>

<mat-accordion>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title> Activity </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="content-wrapper">
      <div class="line">
        <app-cumulative-graph [data]="cumulativeGraphData" [labels]="cumulativeGraphLabels" [legend]="cumulativeGraphLegend"></app-cumulative-graph>
      </div>
      <div class="line">
        <app-pie-chart [data]="pieChartBrowsers"></app-pie-chart>
        <app-pie-chart [data]="pieChartOss"></app-pie-chart>
      </div>
      <div class="line">
        <app-map [data]="mapConnections"></app-map>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
