<table mat-table [dataSource]="tracks" multiTemplateDataRows matSort (matSortChange)="handleSort($event)">
    <caption>List of Tracks</caption>
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> {{column | uppercase}} </th>
        <ng-container [ngSwitch]="column">
            <ng-container *ngSwitchCase="'tid'">
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/dashboard/track', element[column] ]">
                        {{element[column]}}
                    </a>
                </td>
            </ng-container>

            <ng-container *ngSwitchCase="'date'">
                <td mat-cell *matCellDef="let element"> {{element[column] | date:'medium'}} </td>
            </ng-container>
            
            <ng-container *ngSwitchDefault>
                <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
            </ng-container>
        </ng-container>
    </ng-container>


    <tr class="table-head-wrapper" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"></tr>
</table>

<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<mat-paginator [pageSizeOptions]="pageSizeOptions" [length]="length" [pageSize]="pageSize" [pageIndex]="page"
    (page)="setPage($event)" showFirstLastButtons aria-label="Select page">
</mat-paginator>